[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
transformers = "==2.3"
spacy = "*"
google = "*"
beautifulsoup4 = "*"
torch = "*"
torchvision = "*"

[requires]
python_version = "3.6"
